<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kPreLoadScene</key>
	<dict>
		<key>BUTTON_DOWN</key>
		<string>button_down_v.2.wav</string>
		<key>BUTTON_UP</key>
		<string>button_up_v.2.wav</string>
	</dict>
	<key>kBoxMenuScene</key>
	<dict>
		<key>PLANET_SWITCH</key>
		<string>World_select.caf</string>
	</dict>
	<key>kGameScene</key>
	<dict>
		<key>TAKE_ENERGY_1</key>
		<string>Take_energy_1_v3.caf</string>
		<key>TAKE_ENERGY_2</key>
		<string>Take_energy_2_v3.caf</string>
		<key>TAKE_ENERGY_3</key>
		<string>Take_energy_3_v3.caf</string>
		<key>BUBBLE_1_PLUS_1</key>
		<string>Bubble_1.caf</string>
		<key>BUBBLE_2_PLUS_1</key>
		<string>Bubble_2.caf</string>
		<key>BUBBLE_3_SEPARATE</key>
		<string>Bubble_3.caf</string>
		<key>BUBBLE_2_SEPARATE</key>
		<string>Bubble_4.caf</string>
		<key>BUBBLE_CONNECT_1</key>
		<string>Bubble_connect1.caf</string>
		<key>BUBBLE_CONNECT_2</key>
		<string>Bubble_connect2.caf</string>
		<key>BUBBLE_CONNECT_3</key>
		<string>Bubble_connect3.caf</string>
		<key>BUBBLE_DIED</key>
		<string>Bubble_died.caf</string>
		<key>BUBBLE_DISCONNECT_1</key>
		<string>Bubble_disconnect1.caf</string>
		<key>BUBBLE_DISCONNECT_2</key>
		<string>Bubble_disconnect2.caf</string>
		<key>BUBBLE_DISCONNECT_3</key>
		<string>Bubble_disconnect3.caf</string>
		<key>BUBBLE_PUSH_1</key>
		<string>Bubble_push1.caf</string>
		<key>BUBBLE_PUSH_2</key>
		<string>Bubble_push2.caf</string>
		<key>BUBBLE_PUSH_3</key>
		<string>Bubble_push3.caf</string>
		<key>CONNECTION_TOUCH_DESTROY</key>
		<string>Link_in_v.4.wav</string>
		<key>CONNECTION_TOUCH_CREATE</key>
		<string>Link_out_v.5-1.wav</string>
		<key>SNAIL_MOVE_1</key>
		<string>Snail_move_1_v2.caf</string>
		<key>SNAIL_MOVE_2</key>
		<string>Snail_move_2_v2.caf</string>
		<key>SNAIL_MOVE_3</key>
		<string>Snail_move_3_v2.caf</string>
		<key>SNAIL_MOVE_4</key>
		<string>Snail_move_4_v2.caf</string>
		<key>SNAIL_ANGRY</key>
		<string>Snail_angry_v.3.wav</string>
		<key>SNAIL_ERROR</key>
		<string>Snail_error.caf</string>
		<key>SHELL_SINKS</key>
		<string>Shell_sinks.caf</string>
		<key>SWIPE_1</key>
		<string>Swipe1.caf</string>
		<key>SWIPE_2</key>
		<string>Swipe2.caf</string>
		<key>SWIPE_3</key>
		<string>Swipe3.caf</string>
		<key>HERO_HAPPY</key>
		<string>Hero_happy.caf</string>
		<key>HERO_SAD</key>
		<string>Hero_sad.caf</string>
		<key>LEVEL_COMPLETE</key>
		<string>Level_complete_v2.caf</string>
	</dict>
	<key>kMainMenuScene</key>
	<dict/>
	<key>kComicStripScene</key>
	<dict/>
	<key>kLevelMenuScene</key>
	<dict>
		<key>LEVEL_ICONS_APPEAR</key>
		<string>Level_icons_appear.caf</string>
	</dict>
</dict>
</plist>
